﻿@{
    ViewBag.Title = "Taranto";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs margin-top-20" role="tablist">
    <li role="presentation" class="active"><a href="#reportes" aria-controls="administracion" role="tab" data-toggle="tab">Reportes</a></li>
    <li role="presentation"><a href="#seguimiento" aria-controls="servicios" role="tab" data-toggle="tab">Seguimiento</a></li>
    <li role="presentation"><a href="#administracion" aria-controls="administracion" role="tab" data-toggle="tab">Administración</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="reportes">
        <div class="row">
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.Encuestas.Index())">
                    <img class="img-responsive center-block" src="~/images/taranto-encuestas.png" />
                    <h3>Encuestas</h3>
                </a>
            </div>
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.InformeDiario.Index())">
                    <img class="img-responsive center-block" src="~/images/taranto-informeDiario.png" />
                    <h3>Informe diario</h3>
                </a>
            </div>
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.Chofer.ControlEntrega())">
                    <img class="img-responsive center-block" src="~/images/controlEntregas.png" />
                    <h3>Control de entregas</h3>
                </a>
            </div>
        </div>
    </div>


    <div role="tabpanel" class="tab-pane" id="seguimiento">
        <div class="row">
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.UsuariosMapa.RutaUsuarios())">
                    <img class="img-responsive center-block" src="~/images/taranto-ruta-usuarios.png" />
                    <h3>Ruta viajantes</h3>
                </a>
            </div>
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.UsuariosMapa.Actividades())">
                    <img class="img-responsive center-block" src="~/images/taranto-actividades.png" />
                    <h3>Actividad viajantes</h3>
                </a>
            </div>
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.UsuariosMapa.ActividadesAgrupadasPorClientes())">
                    <img class="img-responsive center-block" src="~/images/taranto-actividadViajanteAgrupadoPorcliente.png" />
                    <h3>Actividad de viajantes agrupados por cliente</h3>
                </a>
            </div>
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.UsuariosMapa.ViajantesSinActividad())">
                    <img class="img-responsive center-block" src="~/images/taranto-ViajanteSinActividad.png" />
                    <h3>Viajante sin actividad</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.Consultas.ConexionesBase())">
                    <img class="img-responsive center-block" src="~/images/taranto-conectividad.png" />
                    <h3>Actividad Viajantes Resumen de Conectividad</h3>
                </a>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="administracion">
        <div class="row">
            <div class="col-md-3 tile">
                <a href="@Url.Action(MVC.Chofer.Index())">
                    <img class="img-responsive center-block" src="~/images/choferesZonas.png" />
                    <h3>Asignar zona a Choferes</h3>
                </a>
            </div>
        </div>
    </div>
</div>
