﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.Mapa.ActividadIndex

@{
    ViewBag.Title = "Actividad";
    int idViajante = ViewBag.IdViajante;
    string nombreViajante = ViewBag.Viajante;
    string total = "";
    var pathImagen = "../Images/" + @ViewBag.NombreViajanteParaFoto + ".jpg";
}

<h2>ACTIVIDAD DE VIAJANTES</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div id="divFechas">
            <div class="form-group col-md-12">
                <div class="col-md-2">
                  <img class="avatarViajante" src="@pathImagen" alt="imagenVendedor" onerror="this.src='../Images/Generico.jpg';" />
                </div>
                <div class="col-md-10">
                    <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                    <div class="col-md-2">
                        @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(Model.FechaDesde).Locale("es-ES")
                    </div>
                    <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                    <div class="col-md-2">
                        @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(Model.FechaHasta).Locale("es-ES")
                    </div>
                    <label for="IdUsuario" class="control-label col-md-1">Viajante:</label>
                    <div class="col-md-3">
                        @Html.DropDownList("IdUsuario", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Obtener" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <hr />
</div>

@if (Model.ActividadesViajante.Count > 0)
{
    foreach (var actividadViajante in Model.ActividadesViajante)
    {
        DateTime fecha = DateTime.Parse(actividadViajante.Fecha);
        <h3>@actividadViajante.Fecha  @fecha.ToString("dddd")</h3>

        <table id="tablaActividades" class="table table-hover" style="font-size: 17px">
            <thead>
            <tr>
                <th>
                    Horario
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Tipo de actividad
                </th>
                <th style="text-align: right">
                    Total
                </th>
            </tr>
            </thead>
            @foreach (var actividad in actividadViajante.Actividades)
            {
                <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => actividad.Horario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => actividad.Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => actividad.TipoDeActividad)
                    </td>
                    @if (actividad.Total.Length > 0)
                    {
                        <td style="text-align: right">$@Html.DisplayFor(modelItem => actividad.Total)</td>
                    }
                    else
                    {
                        <td>
                            
                        </td>
                    }
                </tr>
                </tbody>
            }
        </table>

        <input onclick="PopupCenter('@Url.Action(MVC.UsuariosMapa.MapaActividad(idViajante, fecha, nombreViajante))','xtf','900','500');" type="button" value="Ver mapa">

    }

    <div class="col-md-12">
            <hr/>
        </div>

}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>


@section Scripts{
    <script src="~/Scripts/centrarPopup.js"></script>
}
