﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.Mapa.ActividadAgrupadaClientes.ActividadClientes

@{
    ViewBag.Title = "Actividades agrupadas";
    var si = 1;
    DateTime dia = new DateTime();
    var pathImagen = "../Images/" + @ViewBag.NombreViajanteParaFoto + ".jpg";
}

<h2>ACTIVIDAD DE VIAJANTES AGRUPADAS POR CLIENTE</h2>

@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="form-group col-md-12">
                <div class="col-md-2">
                    <img class="avatarViajante" src="@pathImagen" alt="imagenVendedor" onerror="this.src='../Images/Generico.jpg';" />
                </div>
                <div class="col-md-10">
                    <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                    <div class="col-md-2">
                        @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaDesde).Locale("es-ES")
                    </div>
                    <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                    <div class="col-md-2">
                        @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaHasta).Locale("es-ES")
                    </div>

                    <label for="IdVendedor" class="control-label col-md-1">Viajante:</label>
                    <div class="col-md-3">
                        @Html.DropDownList("IdVendedor", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 no-print">
                        <input id="btnFiltrarInforme" type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <hr />
    </div>

    <p> &nbsp;</p>

    <table class="table table-hover">

        @if (Model.ActividadClientesIndex != null)
        {
            foreach (var item in Model.ActividadClientesIndex)
            {
                dia = item.Fecha.AsDateTime();

                if (item.Vendedor == "Total")
                {
                    <tr class="info" style="font-size: 15px">
                        <td>
                            Total
                        </td>
                        @if (item.Venta.Length > 0)
                        {
                            <td style="text-align: right">$@Html.DisplayFor(modelItem => item.Venta)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td></td>
                        @if (item.Cobranza.Length > 0)
                        {
                            <td style="text-align: right">$@Html.DisplayFor(modelItem => item.Cobranza)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td></td>
                        <td></td>
                    </tr>

                }
                else if (item.ClienteNuevo == si)
                {
                    <tr height="60">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="active" style="text-align: center">
                        <td style="font-size: 20px; font-weight: bold">@Html.DisplayFor(modelItem => item.Cliente)</td>
                    </tr>

                    <tr style="font-size: 20px; font-weight: bold">
                        <td>
                            Dia
                        </td>
                        <td>
                            Venta
                        </td>
                        <td>
                            Visita venta
                        </td>
                        <td>
                            Cobranza
                        </td>
                        <td>
                            Visita cobranza
                        </td>
                    </tr>
                    <tr style="font-size: 15px">

                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)  @dia.ToString("dddd")
                        </td>
                        @if (item.Venta.Length > 0)
                        {
                            <td style="text-align: right">(@Html.DisplayFor(modelItem => item.CantidadVenta)) $@Html.DisplayFor(modelItem => item.Venta) </td>
                        }
                        else if (item.CantidadVenta > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.VisitaVenta > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Cobranza.Length > 0)
                        {
                            <td style="text-align: right">(@Html.DisplayFor(modelItem => item.CantidadCobranza)) $@Html.DisplayFor(modelItem => item.Cobranza)</td>
                        }
                        else if (item.CantidadCobranza > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.VisitaCobranza > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
                else
                {
                    <tr style="font-size: 15px">
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha) @dia.ToString("dddd")
                        </td>
                        @if (item.Venta.Length > 0)
                        {
                            <td style="text-align: right">(@Html.DisplayFor(modelItem => item.CantidadVenta)) $@Html.DisplayFor(modelItem => item.Venta) </td>
                        }
                        else if (item.CantidadVenta > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.VisitaVenta > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Cobranza.Length > 0)
                        {
                            <td style="text-align: right">(@Html.DisplayFor(modelItem => item.CantidadCobranza)) $@Html.DisplayFor(modelItem => item.Cobranza)</td>
                        }
                        else if (item.CantidadCobranza > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.VisitaCobranza > 0)
                        {
                            <td style="text-align: center"><img src="~/images/check.png" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        }

    </table>



}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/ActividadAgrupadaClientes/Index.js"></script>
}
