﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.Mapa.MapaActividad

@{
    Layout = null;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(@Model);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Actividad viajante @Model.NombreViajante - @Model.Fecha.ToShortDateString()</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/mapa")
</head>
<body>
<div id="map"></div>


<div id="map-referencia">
    <div class="col-md-12">
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    <input id="chkMostrarClientes" type="checkbox" onclick="mostrarClientes()" value=""> Mostrar Clientes
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    <input id="chkMostrarVendedores" type="checkbox" onclick="mostrarVendedores()" value=""> Mostrar Viajantes
                </label>
            </div>
        </div>
    </div>
    <img src="~/images/mapa/referencia-mapa.png"/>
</div>
<script>

    var json = @Html.Raw(jsonModel);

</script>
<script src="~/Scripts/helper.js"></script>
<script src="~/Scripts/UsuariosMapa/Actividad/actividad.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyUkmOHfV2JWIxjnigNaQY-W4i6S1JPVo&callback=initMapa" async defer></script>
</body>
</html>