﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.Mapa.DatosRutas

@{
    Layout = null;
    var fecha = (DateTime)ViewBag.Fecha;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ruta Usuarios</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="@Url.Content("~/Content/ej/web/default-theme/ej.widgets.all.min.css")" rel="stylesheet" />
    <script src="~/Scripts/jsrender.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.min.js"></script>
    <script src="~/Scripts/ej/ej.widget.all.min.js"></script>
    <script src="~/Scripts/ej/ej.core.min.js"></script>
    <script src="~/Scripts/ej/ej.unobtrusive.min.js"></script>
    <script src="~/Scripts/ej/ej.globalize.min.js"></script>
    <script src="~/Scripts/ej/cultures/ej.culture.es-ES.min.js"></script>
    <script src="~/Scripts/ej/cultures/ej.localetexts.es-ES.min.js"></script>
    <script src="~/Scripts/ej/ej.datepicker.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/mapa")
</head>
<body>
    <div id="map"></div>
    <div id="map-checkboxes">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="fecha" class="control-label col-md-2">Fecha: </label>
                <div class="col-md-10">
                    @Html.EJ().DatePicker("fecha").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(fecha).Locale("es-ES").ClientSideEvents(e => e.Change("fechaModificada"))
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input id="chkMostrarClientes" type="checkbox" onclick="mostrarClientes()" value=""> Mostrar Clientes
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Viajantes</h4>
            </div>
            <div class="form-group" id="divMuestras">
            </div>
        </form>
    </div>
    <script>
    var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
    <script src="~/Scripts/helper.js"></script>
    <script src="~/Scripts/UsuariosMapa/Rutas/rutas.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyUkmOHfV2JWIxjnigNaQY-W4i6S1JPVo&callback=initMapa" async defer></script>
    @Html.EJ().ScriptManager()
</body>
</html>
