﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios Ubicación actual - Taranto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/mapa")
</head>
<body>
<div id="map"></div>
<div id="map-images">
    <p>Última actividad registrada</p>
    <img src="~/images/mapa/usuario-1.png"/><span>: menos de una hora</span><br/>
    <img src="~/images/mapa/usuario-2.png"/><span>: menos de un día</span><br />
    <img src="~/images/mapa/usuario-3.png"/><span>: más de un día</span><br /><br />
    <span>Última actualización: <span id="ultimaActualizacion"></span></span>
</div>    
<script>
    var baseUrl = '@ViewBag.BaseUrl';
</script>

    
<script src="~/Scripts/UsuariosMapa/UbicacionActual/mapaManager.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyUkmOHfV2JWIxjnigNaQY-W4i6S1JPVo&callback=initMapa" async defer></script>
</body>
</html>
