﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.Mapa.ViajantesSinActividad.ViajanteSinActividad

@{
    ViewBag.Title = "Viajantes sin actividad";

}

<h2>Viajantes sin actividad</h2>

@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="form-group col-md-12">
                <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaDesde).Locale("es-ES")
                </div>
                <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaHasta).Locale("es-ES")
                </div>

                <div class="col-md-2 no-print">
                    <input id="btnFiltrarInforme" type="submit" value="Buscar" class="btn btn-primary" />
                </div>
                
                @if (ViewBag.HabilitarDescargarExcel)
                {
                    <div class="col-md-2 no-print">
                        <input id="btnImprimirExcel" class="btn btn-danger" type="button" value="Bajar Excel" />
                    </div>
                }
                
            </div>
        </form>
    </div>


    <p> &nbsp;</p>


    <table class="table table-striped table-hover table-bordered" style="font-size: 20px">
        <thead>
            <tr>
                <th style="text-align: center">
                    Viajante
                </th>
                <th style="text-align: center">
                    Días sin actividad
                </th>
                <th style="text-align: center">
                    Detalle de días
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ViajantesSinActividadIndex)
            {
                var listadoDeDias = item.Dias.Replace("A", "\n");

                <tr> 
                    <td style="text-align: left">
                        @Html.DisplayFor(modelItem => item.Viajante)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.CantidadDeDias)
                    </td>
                    <td style="text-align: center">
                        <img src="~/images/lupa.png" data-toggle="tooltip"
                             data-placement="right" title="@listadoDeDias"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/ViajantesSinActividad/Index.js"></script>
}
