﻿@model IEnumerable<TarantoReportes.ViewModel.Encuesta.EncuestaDetalle>

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de encuesta</h2>

<p class="bg-info"> Usuario: @ViewBag.Usuario || Cliente: @ViewBag.Cliente  (@ViewBag.CodigoCliente)</p>

@foreach (var item in Model)
{

    if (item.Total != 0)
    {
        <h3>@Html.DisplayFor(modelItem => item.Grupo)</h3>

        <ul>
            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeTaranto)
                TARANTO: $@Html.DisplayFor(modelItem => item.ValorTaranto)
            </li>

            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeA)
                @Html.DisplayFor(modelItem => item.CompetenciaA): $@Html.DisplayFor(modelItem => item.ValorPorcentajeA)
            </li>

            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeB)
                @Html.DisplayFor(modelItem => item.CompetenciaB): $@Html.DisplayFor(modelItem => item.ValorPorcentajeB)
            </li>

            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeC)
                @Html.DisplayFor(modelItem => item.CompetenciaC): $@Html.DisplayFor(modelItem => item.ValorPorcentajeC)
            </li>

            <li>
                <p>TOTAL: $@Html.DisplayFor(modelItem => item.Total)<p />
            </li>

        </ul>

        <div class="row">
            <div class="col-md-1"><p>Comentario:</p></div>
            <div class="col-md-11">@Html.DisplayFor(modelItem => item.Comentarios)</div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-2"><p>Estrategia por viajante:</p></div>
            <div class="col-md-10">@Html.DisplayFor(modelItem => item.EstrategiaViajante)</div>
        </div>
    
        <br /><br />

        <p>-----------------------------------</p>
    }

}

<br />




<p>
    <a class="btn btn-primary no-print" href="@Url.Action(MVC.Encuestas.Index())">Volver</a>
</p>

<br/><br />
<p class="no-print" align="right" style="color:grey;">@ViewBag.Transid</p>