﻿@model IEnumerable<TarantoReportes.ViewModel.Encuesta.EncuestaIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="col-md-12 no-print">
                <h4>Filtrar</h4>
            </div>
            <div class="form-group">
                <label for="IdVendedor" class="control-label col-md-2">Viajante:</label>
                <div class="col-md-3">
                    @Html.DropDownList("IdVendedor", null, new {@class = "form-control"})
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 no-print">
                <input type="submit" value="Buscar" class="btn btn-primary"/>
            </div>

        </form>
    </div>

    <div class="col-md-12">
        <hr/>
    </div>

    <div class="no-print">
        @if (ViewBag.HabillitarResumen != null)
        {
            <br/>

     
            var idvendedor = (int)@ViewBag.HabillitarResumen;

            <a class="badge badge-error" href="@Url.Action(MVC.Encuestas.Resumen(idvendedor))">RESUMEN</a>

            <a class="badge badge-error" href="@Url.Action(MVC.Encuestas.ListadoDetalle(idvendedor))">LISTADO DETALLES</a>

            <a class="badge badge-error" href="@Url.Action(MVC.Encuestas.DescargarDetalleParaExcel(idvendedor))">DESCARGAR EXCEL</a>

            <div class="col-md-12">
                <hr/>
            </div>

        }
    </div>



    <table class="table">
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Transid
            </th>
            <th>
                Código cliente
            </th>
            <th>
                Dresripción cliente
            </th>
            <th>
                Fecha de creación
            </th>
            <th class="no-print">
                Detalle
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td class="no-print">
                    <a class="badge badge-error" href="@Url.Action(MVC.Encuestas.Details(item.TransId))">Detalle</a>
                </td>
            </tr>
        }
        
    </table>
}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

