﻿@model List<TarantoReportes.ViewModel.Encuesta.EncuestasListadoDetalle>

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de detalle</h2>

<p class="bg-info"> Vendedor: @ViewBag.Vendedor</p>

@foreach (var item in Model)
{
    if (item.Id == -1)
    {
        <hr style="border-top: 3px double #8c8b8b;">
        <div class="bg-success">
            <div class="row">
                <div class="col-md-2"><p>Cliente:</p></div>
                <div class="col-md-10">@item.Cliente (@item.CodigoCliente)</div>
            </div>
        </div>
        

    }
    if (item.Total != 0)
    {
        <h3>@Html.DisplayFor(modelItem => item.Grupo)</h3>

        <ul>
            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeTaranto)
                TARANTO: $@Html.DisplayFor(modelItem => item.ValorTaranto)
            </li>

            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeA)
                @Html.DisplayFor(modelItem => item.CompetenciaA): $@Html.DisplayFor(modelItem => item.ValorPorcentajeA)
            </li>

            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeB)
                @Html.DisplayFor(modelItem => item.CompetenciaB): $@Html.DisplayFor(modelItem => item.ValorPorcentajeB)
            </li>

            <li>
                %@Html.DisplayFor(modelItem => item.PorcentajeC)
                @Html.DisplayFor(modelItem => item.CompetenciaC): $@Html.DisplayFor(modelItem => item.ValorPorcentajeC)
            </li>

            <li>
                <p>TOTAL: $@Html.DisplayFor(modelItem => item.Total)<p />
            </li>

            <li>
                <p>Comentario: @Html.DisplayFor(modelItem => item.Comentario)<p />
            </li>

            <li>
                <p>Estrategia por viajante: @Html.DisplayFor(modelItem => item.EstrategiaViajante)<p />
            </li>
        </ul>
        <p>-----------------------------------</p>
    }
}



