﻿@model IEnumerable<TarantoReportes.ViewModel.Encuesta.EncuestaResumen>

@{
    ViewBag.Title = "Resumen";
}

<h2>Resumen del vendedor @ViewBag.Vendedor</h2>

<p> &nbsp;</p>


<table class="table table-hover">

    @foreach (var item in Model)
    {
        if (item.Competencia == "TOTAL")
        {
            <tr class="info" style="font-weight: bold">
                <td>
                    @Html.DisplayFor(modelItem => item.Competencia)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Acumulado)
                </td>
                <td>
                    % @Html.DisplayFor(modelItem => item.Porcentaje)
                </td>
            </tr>

            <tr height="60">
                <td></td>
                <td></td>
                <td></td>
            </tr>

        }
        else if (item.Competencia == "TARANTO")
        {
            <tr class="active" style="text-align: center">
                <td style="font-size: 20px; font-weight: bold">@Html.DisplayFor(modelItem => item.Grupo)</td>
            </tr>

            <tr style="font-size: 20px; font-weight: bold">
                <td>
                    Proveedores
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Acumulado)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Porcentaje)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Competencia)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Acumulado)
                </td>
                <td>
                    % @Html.DisplayFor(modelItem => item.Porcentaje)
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Competencia)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Acumulado)
                </td>
                <td>
                    % @Html.DisplayFor(modelItem => item.Porcentaje)
                </td>
            </tr>
        }

    }

</table>


<p class="no-print">
    <a class="btn btn-primary" href="@Url.Action(MVC.Encuestas.Index())">Volver</a>
</p>
