﻿@using Syncfusion.MVC.EJ
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Taranto</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
        <link href="@Url.Content("~/Content/site.css?d=" + @DateTime.Now.Ticks)" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/Content/date_time_picker/jquery.datetimepicker.min.css")" rel="stylesheet" type="text/css" />*@
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <link href="@Url.Content("~/Content/ej/web/default-theme/ej.widgets.all.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/ej/ej.datepicker.min.js")"></script>
        <script src="~/Scripts/jsrender.min.js"></script>
        <script src="~/Scripts/jquery.easing.1.3.min.js"></script>
        <script src="~/Scripts/ej/ej.widget.all.min.js"></script>
        <script src="~/Scripts/ej/ej.core.min.js"></script>
        <script src="~/Scripts/ej/ej.unobtrusive.min.js"></script>
        <script src="~/Scripts/ej/ej.globalize.min.js"></script>
        <script src="~/Scripts/ej/cultures/ej.culture.es-ES.min.js"></script>
        <script src="~/Scripts/ej/cultures/ej.localetexts.es-ES.min.js"></script>
        <script src="~/Scripts/ej/ej.datepicker.min.js"></script>
        <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div class="header clearfix no-print">
                <img src="~/images/taranto-logo.jpg" class="margin-top-20neg" alt=""/>
            </div>
        </div>
    <div class="container body-content margin-top-20">
        @RenderBody()
    </div>

    
    @Html.EJ().ScriptManager()
    
    @RenderSection("scripts", required: false)
    </body>
</html>
