﻿@model IEnumerable<TarantoReportes.ViewModel.InformeDiario.InformeDiarioDetalleTransid>

    @{
        ViewBag.Title = "Detalle de artículos";
    }

    <h2>Detalle de artículos</h2>

    <table class="table table-striped table-hover table-bordered" style="font-size: 20px">
        <thead>
            <tr>
                <th style="text-align: center">
                    Código
                </th>
                <th style="text-align: center">
                    Descripción
                </th>
                <th style="text-align: center">
                    Cantidad
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: left">
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td style="text-align: left">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td style="text-align: right">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
