﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.InformeDiario.InformeDiarioIndex

@{
    ViewBag.Title = "Index";
    var pathImagen = "../Images/" + @ViewBag.NombreViajanteParaFoto + ".jpg";
}

<h2>Informe Diario</h2>


@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="col-md-12 no-print">
                <h4>Filtrar</h4>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group col-md-10">
                    <div class="form-group col-md-10">
                        <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                        <div class="col-md-4">
                            @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaDesde).Locale("es-ES")
                        </div>
                        <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                        <div class="col-md-2">
                            @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaHasta).Locale("es-ES")
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <label for="IdVendedor" class="control-label col-md-1">Viajante:</label>
                        <div class="col-md-4">
                            @Html.DropDownList("IdVendedor", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-5">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="cbxPedidosVisitas"> Pedidos y Visitas
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="cbxRecibos"> Recibos
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <img class="avatarViajante" src="@pathImagen" alt="imagenVendedor" onerror="this.src='../Images/Generico.jpg';" />
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 no-print">
                <input id="btnFiltrarInforme" type="submit" value="Buscar" class="btn btn-primary" />
            </div>

        </form>
    </div>

    <div class="col-md-12">
        <hr />
    </div>


    <table class="table">
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Cliente
            </th>
            <th>
                Dirección
            </th>
            <th>
                Pedido/Recibo
            </th>
            <th>
                CodPedido
            </th>
            <th>
                Total
            </th>
            <th>
                Cod Oferta
            </th>
            <th>
                Próxima Visita
            </th>
            <th>
                Dirección GPS
            </th>
            <th>
                Detalle
            </th>

        </tr>

        @if (Model.InformesDiarios != null)
        {
            foreach (var item in Model.InformesDiarios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoRecibo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoOferta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProximaVisita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionGps)
                    </td>
                    <td>
                        <input onclick="PopupCenter('@Url.Action(MVC.InformeDiario.DetalleTransid(item.Transid))','xtf','900','500');" type="button" value="Ver detalle">
                    </td>

                </tr>
            }
        }

    </table>
}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/InformeDiario/InformeDiarioIndex.js"></script>
    <script src="~/Scripts/centrarPopup.js"></script>
}