﻿@using Syncfusion.MVC.EJ
@model IEnumerable<TarantoReportes.ViewModel.ConsultasMa.CantidadConsultasBase>

@{
    ViewBag.Title = "Conexiones base";
    var pathImagen = "../Images/" + @ViewBag.NombreViajanteParaFoto + ".jpg";
}

<h2>Actividad Viajantes, Resumen de Conectividad</h2>


@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="col-md-12 no-print">
                <h4>Filtrar</h4>
            </div>
            <div class="form-group col-md-12">
                <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaDesde).Locale("es-ES")
                </div>
                <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaHasta).Locale("es-ES")
                </div>
                <label for="IdVendedor" class="control-label col-md-1">Viajante:</label>
                <div class="col-md-3">
                    @Html.DropDownList("IdVendedor", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 no-print">
                <input id="btnFiltrarInforme" type="submit" value="Buscar" class="btn btn-primary" />
            </div>

            <div class="col-md-12">
                <hr />
            </div>

            <div class="col-md-12">
                <div class="col-md-10">
                    <h2>@ViewBag.Viajante</h2>
                    <h2>@ViewBag.NombreViajanteParaFoto</h2>
                </div>
                <div class="col-md-2">
                    <img class="avatarViajante" src="@pathImagen" alt="imagenVendedor" onerror="this.src='../Images/Generico.jpg';" />
                </div>
            </div>

            <div class="col-md-12">
                <hr />
            </div>

        </form>
    </div>

    <table class="table table-striped table-hover table-bordered" style="font-size: 20px">
        <thead>
            <tr class="info">
            <tr>
                <th>
                    DESCRIPCIÓN
                </th>
                <th>
                    CANTIDAD
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Viajante.Length == 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/Consultas/ConexionesBase/conexionesBase.js"></script>
}