﻿@using Syncfusion.MVC.EJ
@model IEnumerable<TarantoReportes.ViewModel.ConsultasMa.Sincro>


<h2>Sincronizaciones voluntarias por usuario</h2>


@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="col-md-12 no-print">
                <h4>Filtrar</h4>
            </div>
            <div class="form-group col-md-12">
                <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaDesde).Locale("es-ES")
                </div>
                <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaHasta).Locale("es-ES")
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 no-print">
                <input id="btnFiltrarInforme" type="submit" value="Buscar" class="btn btn-primary" />
            </div>
            
            <div class="col-md-12">
                <hr />
            </div>

        </form>
    </div>

    <table class="table table-striped table-hover sortable table-bordered">
        <thead>
        <tr class="info">
        <tr>
            <th>
                USUARIO
            </th>
            <th>
                ESTADO
            </th>
            <th>
                CANTIDAD
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.V1Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.V2Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.V3Cantidad)
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/Consultas/Sincro/sincro.js"></script>
    <script src="~/Scripts/filterTable/jquery.filtertable.min.js"></script>
    <script src="~/Scripts/bootstrap-sortable.js"></script>
}

<script>

    $('table').filterTable({
        label: "Filtrar:",
        minRows: 0
    });

</script>