﻿#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

#map-images {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border: black 3px double;
    padding: 15px;
}

#map-checkboxes {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border: black 3px double;
    padding: 15px;
    overflow-y: scroll;
    height: 500px;
    width: 300px;
}

#map-referencia {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border: black 3px double;
    padding: 15px;
    overflow-y: scroll;
    width: 300px;
}

span.muestra {
    width: 20px;
    height: 10px;
    display: block;
    margin-top: 12px;
    border: solid 2px;
}
