﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

dl {
    columns: 2;
}

dd {
    break-before: avoid;
}

ul.sinVinieta {
    list-style-type: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.divCenter {
    width: 50%;
    margin: 0 auto;
}

input, select, textarea {
    max-width: 100%;
}

.tile {
    text-align: center;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    padding: 30px;
}

.tile:hover {
    background-color: #d9effb;
}

.tile h2,
.tile a {
    color: black;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p.form-control-static {
    font-weight: 100;
}

.bs-example {
    background-color: #fff;
    margin-bottom: 2px;
    float: right;
}
.btn-dropdown {
    border: 0;
    padding: 10px 15px;
    color: #31353d;
}

a {
    color: #31353d;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #0285e4;
    color: white;
}

.btn-primary {
    background-color: #0285e4;
    color: white;
}

.btn-lg {
    padding: 20px 26px;
}

.btn-disabled{
    cursor: default;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #ffffff;
}

.btn-flotante {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
}

.form-control:focus {
    border-color: #0285e4;
}

.mini-combo {
    height: 25px;
    padding: 3px 12px;
    font-size: 11px;
}

.mapa {
    height: 400px;
    width: 100%;
}

.no-negrita {
    font-weight: normal;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #0285e4;
    color: white;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #0285e4;
    color: white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #0285e4;
    color: white;
}

.pressed {
    background-color: #1B5E20;
    color: white;
}

.btn-warning {
    background-color: #b1b1b1;
    border-color: #ffffff;
}

.btn-warning.pressed {
    background-color: #ec971f;
    border-color: #d58512;
    color: black;
}

.padding-20 {
    padding: 20px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-top-7 {
    padding-top: 7px;
}

.margin-0 {
    margin: 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-20neg {
    margin-top: -20px;
}

.margin-top-50 {
    margin-top: 50px;    
}

.negrita {
    font-weight: bold;
}

.color-verde {
    color: green;
}

.color-rojo {
    color: red;
}

.background-gris-claro {
    background-color: #f3f3f3;
    background-color: rgba(243, 243, 243, .85);
}

.oculto {
    visibility: hidden;
}

.table {
    font-size: 11px;
}

.tableBig {
    font-size: 14px;
}

.tableFixed {
    table-layout: fixed
}

tr.tr-total {
    background-color: #0285e4;
}

tr.tr-total td {
    font-weight: bold;
}


.tr-compacto {
    font-size: 11px;
}
/* popover */

tr:hover span {
    visibility: visible;
}

.tr-cabecera,
.tr-pie {
    font-weight: bold;
    font-size: 13px;
}

.tr-pie {
    background-color: #abb9d8;
}

tr.highlight1 {
    font-weight: bold;
    font-size: 12px;
    background-color: #74b9ff;
}

tr.highlight2 {
    font-weight: bold;
    font-size: 12px;
    background-color: #0984e3;
}

tr.highlight3 {
    font-weight: bold;
    font-size: 12px;
    background-color: #00b894;
}

.font-20 {
    font-size: 20px;
}

#popup {
    opacity: 0;
    position: absolute;
    top: 32px;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 0px;
    padding: 0 12px;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}


#hover:hover #popup {
    padding: 12px 12px;
    height: auto;
    opacity: 1;
    border: 1px solid #666;
    z-index: 9;
    width: 300px;
    font-weight: 100;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

tr.showhide {
    display: none
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}

.badge-info {
    background-color: #015092;
}

.badge-info:hover {
        background-color: #017192;
}

@media print {
    img {
        max-width: none !important;
    }

    a[href]:after {
        content: none !important;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .table {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    .only-print {
        display: block;
    }

    .magen-izquierdo-impresion {
        font-size: 15px;
        margin-left: 80%;
    }
}

.Active {
    background-color: #449d44;
    color: white;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 1px 5px;
}

.Stop {
    background-color: #c9302c;
    color: white;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 1px 5px;
}

.fondo-celeste {
    background-color: #c1e3ff;
}

.sortable tr th {
    cursor: pointer;
}

.avatarViajante {
    max-width: 128px;
    max-height: 128px;
}