﻿@using Syncfusion.MVC.EJ
@model TarantoReportes.ViewModel.Choferes.ControlEntregaIndex

@{
    ViewBag.Title = "Index";
}

<h2>Control de entregas</h2>


@using (Html.BeginForm())
{
    <div>
        <form class="form-horizontal">
            <div class="col-md-12 no-print">
                <h4>Filtrar</h4>
            </div>
            <div class="form-group col-md-12">
                <label for="fechaDesde" class="control-label col-md-1">Desde:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaDesde").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaDesde).Locale("es-ES")
                </div>
                <label for="fechaHasta" class="control-label col-md-1">Hasta:</label>
                <div class="col-md-2">
                    @Html.EJ().DatePicker("fechaHasta").DateFormat("dd/MM/yyyy").ShowOtherMonths(true).Value(ViewBag.FechaHasta).Locale("es-ES")
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="IdVendedor" class="control-label col-md-1">Chofer:</label>
                <div class="col-md-3">
                    @Html.DropDownList("IdVendedor", null, new { @class = "form-control" })
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 no-print">
                <input id="btnFiltrarInforme" type="submit" value="Buscar" class="btn btn-primary" />
            </div>

        </form>
    </div>

    <div class="col-md-12">
        <hr />
    </div>


    <table class="table table-striped table-hover sortable table-bordered">
        <thead>
            <tr class="info">
                <th>
                    Id-Trx
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Factura
                </th>
                <th>
                    Num Cliente
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Remito
                </th>
                <th>
                    Bultos
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model.ControlEntregas != null)
            {
                foreach (var item in Model.ControlEntregas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Factura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remito)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bultos)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/choferes/controlEntregas.js"></script>
    <script src="~/Scripts/filterTable/jquery.filtertable.min.js"></script>
    <script src="~/Scripts/bootstrap-sortable.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
}

<script>

    $('table').filterTable({
        label: "Filtrar:",
        minRows: 0
    });

</script>