﻿@model TarantoReportes.ViewModel.Choferes.ZonasDeChofer

<h2>Editar zonas</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UserId)

    <h3>@Html.DisplayFor(model => model.UserId)</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zonas[0].Zonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zonas[0].Asignado)
            </th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Zonas.Count; i++)
        {
            <tr class="@((Model.Zonas[i].Asignado) ? "fondo-celeste" : "")">
                <td>
                    @Html.DisplayFor(modelItem => Model.Zonas[i].Zonas)
                    @Html.HiddenFor(modelItem => Model.Zonas[i].Zonas)
                    @Html.HiddenFor(modelItem => Model.Zonas[i].Id)
                </td>
                <td class="hidden">
                    <span class="@((Model.Zonas[i].Asignado) ? "Ya asignado" : "Sin asignar")">
                        @((Model.Zonas[i].Asignado) ? "Ya asignado" : "Sin asignar")
                    </span>
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model.Zonas[i].Asignado, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", MVC.Chofer.Index())
</div>

@section Scripts {
    <script src="~/Scripts/choferes/editarZonas.js"></script>
}