﻿@model IEnumerable<TarantoReportes.ViewModel.Choferes.ChoferIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choferes</h2>


<table class="table table-striped table-hover sortable table-bordered">
    <thead>
    <tr class="info">
        <th>
            Chofer
        </th>
        <th>
            Zonas
        </th>
        <th class="no-print">
            Detalle
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuarioConCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td class="no-print">
                <a class="badge badge-error" href="@Url.Action(MVC.Chofer.EditarZonas(item.Id))">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    @Html.ActionLink("Volver", MVC.Home.Index())
</div>

@section Scripts{
    <script src="~/Scripts/bootstrap-sortable.js"></script>
}